# PostgreSQL Connection (Render)
DATABASE_URL=postgresql://jacinto_user:3tJfGPYckrcu2qzm0tBq2Ho5AsOKeJrG@dpg-d7i2b75ckfvc73et3jlg-a/lo_de_jacinto

# Session Secret
SESSION_SECRET=jacinto_super_secret_2026_seguro_y_largo

# Node Environment
NODE_ENV=development
PORT=3000
